{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta name="menu" value="texts" />
<link rel="stylesheet" href="{% static 'css/custom_highlight/tooltipster.css' %}"/> 
<link rel="stylesheet" href="{% static 'css/custom_highlight/custom-highlight.css' %}"/> 
{% endblock %}

{% block content %}
<form id="wt-form" class="row g-3 justify-content-md-center">
    <div class="col-4">
        <label for="text" class="form-label">Testo</label>
        <select required class="form-select" id="text" required>
            <option value="">Seleziona un testo...</option>

        </select>
    </div>
</form>
<hr />
<div class="row mt-3 justify-content-md-center">
    <div id="spinner"></div>
    <p id="text_highlight">
    
    </p>
   
</div>
{% endblock %}
{% block footer %}
<script src="{% static 'js/custom_highlight/jquery.colourbrightness.min.js' %}"></script>
<script src="{% static 'js/custom_highlight/jquery.custom-highlight.js' %}"></script>
<script src="{% static 'js/custom_highlight/jquery.tooltipster.min.js' %}"></script>
<script type="text/javascript">
    var urlTexts = "/texts/api";
    var wtSpinnerSelector = "#spinner";

    function loadTexts() {
        $.get(urlTexts, function (data) {
            var options = [];
            $.each(data.data, function () {
                options.push($('<option />').attr("value", this.id).text(this.descrizione));
            })
            $("#text").append(options);

        });
    }
    $(document).ready(function () {
        loadTexts();
    })

    $("#text").on("change", function (event) {
        if (!$("#text").val()) {
            Swal.fire(
                'Oops...!',
                'Devi selezionare un testo!',
                'error'
            );
        }
        else {
            downloadText();
        }

    });

    function downloadText() {
        startSpinner(wtSpinnerSelector);
        var id = $("#text").val();
        $.get(urlTexts + "/" + id, function (data) {
            $("#text_highlight").text(data.data.testo);
            $("#text_highlight").customHighlight({
                actions:[{"wordtree": "WordTree"}],
                position: "bottom",
                textcolor: "off"
            });
    
            stopSpinner(wtSpinnerSelector);
        
        });
    }
    function wordtree(){
        var text = $(".cs-editing").text();
        window.location.href = "/wordtree?text=" + text;
    }
</script>
{% endblock %}