{% extends 'base.html' %}
{% block head %}
<meta name="menu" value="wordtree" />

{% endblock %}


{% block content %}

<form id="wt-form" class="row g-3 justify-content-md-center">
    <div class="col-4">
        <label for="text" class="form-label">Testo</label>
        <select required class="form-select" id="text" required>
            <option value="">Seleziona un testo...</option>

        </select>
    </div>
    <div class="col-2 mt-5">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="summary" />
            <label class="form-check-label" for="summary">Summarization</label>
        </div>
    </div>
    <div class="col-2 text-center mt-5">
        <a class="btn btn-primary" onclick="showText()">Mostra testo</a>
    </div>
</form>
<hr />
<div class="row mt-3 justify-content-md-center">
    <div class="col-4">
        <label for="keyword" class="form-label">Parola chiave</label>
        <input type="text" class="form-control" id="keyword">
    </div>
    <div class="col-2 mt-4">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="double" />
            <label class="form-check-label" for="double">Double</label>
        </div>
    </div>

    <div class="col-2 text-center mt-4">
        <a class="btn btn-primary disabled" id="extract" onclick="extractPhrase()">Estrai frase</a>
    </div>
</div>
<div class="row mt-3 justify-content-md-center">
    <div id="spinner"></div>
    <div id="wt"></div>
</div>

<div class="modal fade" id="modaltext" tabindex="-1" aria-labelledby="textModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body-container">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="modal-id">
                    <form id="modal-form">
                        <div class="mb-3">
                            <label for="modal-descrizione" class="col-form-label">Descrizione</label>
                            <input type="text" disabled class="form-control" id="modal-descrizione">
                        </div>
                        <div class="mb-3">
                            <label for="modal-testo" class="col-form-label">Testo</label>
                            <textarea rows="15" disabled required class="form-control" id="modal-testo"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>

            </div>

        </div>
    </div>
</div>


{% endblock %}

{% block footer %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var urlTexts = "/texts/api";
    google.charts.load('current', { packages: ['wordtree'] });

    function loadTexts() {
        $.get(urlTexts, function (data) {
            var options = [];
            $.each(data.data, function () {
                options.push($('<option />').attr("value", this.id).text(this.descrizione));
            })
            $("#text").append(options);

        });
    }
    $(document).ready(function () {
        loadTexts();
    })

    var currentText = {};
    $("#text, #summary").on("change", function (event) {
        if (!$("#text").val()) {
            Swal.fire(
                'Oops...!',
                'Devi selezionare un testo!',
                'error'
            );
        }
        else {
            loadWordTree();
        }

    });
    function loadWordTree() {
        var id = $("#text").val();
        var summ = $('#summary').prop("checked");
        if (chart) {
            chart.M();
        }
        startSpinner(wtSpinnerSelector);
        $.get(urlTexts + "/" + id + "?summarization=" + summ, function (data) {
            currentText.data = data.data;
            initWordTree();
            stopSpinner(wtSpinnerSelector);

        });
    }

    var wtData;
    var chart;
    var wtSpinnerSelector = "#spinner";
    function initWordTree() {

        var arr = [
            ['Phrases']
        ];
        arr.push([currentText.data.testo]);
        wtData = google.visualization.arrayToDataTable(arr);
        var options = {
            wordtree: {
                type: $('#double').prop("checked") ? 'double' : 'suffix',
                format: 'implicit',
                word: $('#keyword').val()
            }
        };
        chart = new google.visualization.WordTree(document.getElementById('wt'));
        chart.draw(wtData, options);
        google.visualization.events.addListener(chart, 'select', selectHandler);

        function selectHandler() {
            checkEnableExtractPhrase();
        }


    }
    function checkEnableExtractPhrase() {
        $('#extract').addClass("disabled");
        if ($('#wt path').length <= 0) {
            $('#extract').removeClass("disabled");

        }
    }

    function extractPhrase() {
        var text = $('#wt text')
            .map(function () {
                return {
                    x: $(this).attr("x"),
                    text: $(this).text()
                }
            })
            .sort(function (a, b) {
                return a.x - b.x;
            })
            .map(function () { return this.text });
        console.log(text.toArray().join(" "));
    }

    $('#keyword').on("change", function () {
        if (!$('#keyword').val()) {
            $('#double').prop("checked", false);
        }
        initWordTree();
        checkEnableExtractPhrase();
    });
    $('#double').on("change", function () {

        if (!$('#keyword').val() && $('#double').prop("checked")) {
            $('#double').prop("checked", false);
            Swal.fire(
                'Oops...!',
                'Per utilizzare la vista double devi impostare prima una parola chiave',
                'error'
            );
        }
        else {
            initWordTree();
        }
        checkEnableExtractPhrase();
    });

    function showText() {
        if (currentText) {
            $('#modal-testo').val(currentText.data.testo);
            $('#modal-descrizione').val(currentText.data.descrizione);
            $('#modaltext').modal('show');
        }
        else {
            Swal.fire(
                'Oops...!',
                'Nessun testo scaricato!',
                'error'
            );
        }
    }

</script>
{% endblock %}