{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta name="menu" value="wordtree" />
{% endblock %}

{% block content %}
<form id="wt-form" class="row g-3 justify-content-md-center">
    <div class="form-floating">
        <textarea class="form-control" placeholder="Text" id="text" style="height: 100px">{{ text }}</textarea>
        <label for="text">Text</label>
      </div>
    <div class="col text-end">
        <button type="button" class="btn btn-primary" onclick="summary()">Summary</button>
        <button type="button" class="btn btn-primary" onclick="initWordTree()">WordTree</button>
        <a class="btn btn-primary disabled" id="extract" onclick="generateImage()">Generate Image</a>
    </div>
</form>
<hr />
<div class="row mt-3 justify-content-md-center">
    <div id="wt"></div>  
     
</div>
<div class="row mt-3 justify-content-md-center " >
    <div class="card d-none" id="carousel-container">
        <div id="carouselImage" class="carousel carousel-dark " data-bs-ride="true">
            <div class="carousel-indicators">
            </div>
            <div class="carousel-inner">
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselImage" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselImage" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
         
    </div>
   
</div> 
     
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var summaryApiURL = "/api/summary";
    var dalleApiURL = "/api/dalle";
    google.charts.load('current', { packages: ['wordtree'] });
    var wtData;
    var chart;

    function summary(){
        startSpinner();
        $('#extract').addClass("disabled");
        var text = $("#text").val();
        $.get(summaryApiURL, { text:text }, function(data){
            $("#text").val(data);
            stopSpinner();
        });
   }
   function initWordTree() {
        $('#carousel-container').addClass("d-none");
       
        var arr = [
            ['Phrases']
        ];
        var text = $("#text").val();
        arr.push([text]);
        wtData = google.visualization.arrayToDataTable(arr);
        var options = {
            wordtree: {
                type: $('#double').prop("checked") ? 'double' : 'suffix',
                format: 'implicit',
                word: $('#keyword').val(),
                wordSeparator:/([!?,;:.&"-]+|\S*[A-Z]\.|\S*(?:[^:\s&-]))/
            }
        };
        chart = new google.visualization.WordTree(document.getElementById('wt'));
        chart.draw(wtData, options);
        google.visualization.events.addListener(chart, 'select', selectHandler);

        function selectHandler() {
            checkEnableExtractPhrase();
        }
        checkEnableExtractPhrase();
    }

    function checkEnableExtractPhrase() {
        $('#extract').addClass("disabled");
        if ($('#wt path').length <= 0) {
            $('#extract').removeClass("disabled");
        }
    }
    function generateImage(){
        var text = extractPhrase();
        startSpinner();
        $.get(dalleApiURL, { text:text }, function(data){
            var images=data;
            var i=0;
            $('#carousel-container').removeClass("d-none");
            $('#carousel-container #carouselImage .carousel-indicators').empty();
            $('#carousel-container #carouselImage .carousel-inner').empty();
            $(data).each(function(){
                
                var btn=$('<button type="button" data-bs-target="#carouselImage" data-bs-slide-to="'+i+'" aria-current="true" aria-label=""></button>');
                var image=$('<div class="carousel-item"><img src="'+this+'" ></div>');
                if(i==0){
                    btn.addClass("active");
                    image.addClass("active");
                }
                $('#carousel-container #carouselImage .carousel-indicators').append(btn);
                $('#carousel-container #carouselImage .carousel-inner').append(image);
                i++;
            });
            stopSpinner();
        });
    
        
    }
    function extractPhrase() {
        var text = $('#wt text')
            .map(function () {
                return {
                    x: $(this).attr("x"),
                    text: $(this).text()
                }
            })
            .sort(function (a, b) {
                return a.x - b.x;
            })
            .map(function () { return this.text });
        text=(text.toArray().join(" "));
        return text;
    }

</script>
{% endblock %}